<form class="form">
  <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Title" name="title" [(ngModel)]="newResource.title"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" name="link" placeholder="Resource URL" [(ngModel)]="newResource.link"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput name="description" placeholder="Description" [(ngModel)]="newResource.description"></textarea>
  </mat-form-field>
  <button mat-raised-button id="submit-form" (click)="saveResource()">Submit</button>
</form>
