/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font: 400 16px Roboto,"Helvetica Neue",sans-serif
}

.container {
  padding: 0 1rem;
}
